/* 	-----------------------------------
    ----    Copyright Weborn 2016    --
    ---- Do Not Attempt to Duplicate --
	----------------------------------- */
	
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,300italic,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Global */
body
{
	padding:0;
	font-family: 'Roboto Light', sans-serif;
	color:#EBEBEB;
	overflow-x: hidden;
}

#background
{
	background-image: url("../images/background.jpg");
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:inherit;
}

#navBar
{
	position:absolute;
	top:0;
	width:100%;
	height:4em;
	left:0;
	background:#ccc;
	color:#000;
}

.form
{
	color:#000;
}

.news
{
	color:#000;
}

#headerAll
{
	height:40%;
	padding-bottom:10%;
	overflow-x: hidden;
}

#headerBig
{
	position:relative;
	top:0;
}

#contentAll
{

	background-color: #EDEDED;
	color: #202020;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	width: 90%;
	margin: auto;
	margin-bottom: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow-x: hidden;
	border-radius: 2px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	overflow: hidden;
}

#navBar nav
{
	margin-top:1em;
}

.logo_univ_footer
{
	height:200px;
	width:150px;
	background:#E2E417;
	padding:1em;
}

.logo_univ_footer img
{
	max-width:125px;
}

#footerLogo
{
	position:absolute;
	bottom:0;
}

#footerPar h3
{
	margin-top:0;
	font-weight:300;
}

/* CountDown */
#header
{
	width:100%;
	height:45px;
	background-color:rgba(0, 0, 0, 0.5);
}

#top-bar .col-md-8
{
	text-align: right;
}

#comingsoon
{
	vertical-align: middle;
	line-height: 45px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

#logo-univ-comingsoon-container
{
	margin-left: 5%;
	position: relative;
}

#logo-univ-comingsoon
{
	margin-top: -30px;
	height: 250px;
}

#logo-hmd
{
	position: absolute;
	left: 200px;
	bottom: 0px;
	display: inline-block;
	height: 175px;
	vertical-align: left;
}

.logo-cf-comingsoon-container
{
	position: absolute;
	margin-top: 100px;
	width: 100%;
	height: 300px;
	padding: 30px;
	vertical-align: middle;
	text-align: center;
}

.logo-cf-comingsoon-container img
{
	height: 100%;
	margin-left: auto;
	text-align: center;
}

.logo-cf-comingsoon-container div
{
	margin-top: 10px;
	text-align: center;
	height: 135px;
	line-height: 135px;
}

.logo-cf-comingsoon-container div p
{
	font-size: 42px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 0px;
	line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.logo-cf-comingsoon-container div p span
{
	font-size: 60px;
	font-weight: 400;
}

.logo-cf-comingsoon-container-small
{
	width: 100%;
	height: 75px;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	display: none;
}

.logo-cf-comingsoon-container-small img
{
	height: 100%;
	margin-left: auto;
	text-align: center;
	display: inline-block;
}

.logo-cf-comingsoon-container-small div
{
	display: inline-block;
	text-align: left;
	height: 45px;
	line-height: 45px;
}

.logo-cf-comingsoon-container-small div p
{
	font-size: 22px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-left: 5px;
	margin-bottom: 0px;
	line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.logo-cf-comingsoon-container-small div p span
{
	font-size: 28px;
	font-weight: 400;
}

.fixed-bot
{
	width: 100%;
	position: fixed;
	bottom: 0px;
	padding: 30px;
	vertical-align: bottom;
}

.quote
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 20px;
	margin-top: 20px;
}

.countdown-area
{
	text-align: right;
}

.countdown-area div
{
	display: inline-block;
}

.countdown-area div p
{
	font-size: 22px;
}

.countdown-number span
{
	font-size: 65px;
	margin-right: 8px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

/* Header Template */

#top-bar
{
	width:100%;
	height:45px;
	background-color:rgba(0, 0, 0, 0.5);
}

#top-bar .col-md-9
{
	padding-left: 0;
	padding-right: 0;
}

#top-bar .nav > li 
{
    text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.nav > li > a
{
	line-height: 45px;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: white;
	-webkit-transition: color 0.2s, background-color 0.2s; /* Safari */
    transition: color 0.2s, background-color 0.2s;
}

.nav > li > a:hover
{
	color: black;
}

#logo-univ-header-container
{
	margin-left: 5%;
}

#logo-univ-header
{
	margin-top: -30px;
	height: 250px;
	position: absolute;
}

.logo-cf-header-container
{
	width: 100%;
	height: 200px;
	padding: 30px;
	vertical-align: middle;
	text-align: center;
}

.logo-cf-header-container img
{
	position: relative;
	top: -35px;
	height: 100%;
	margin-left: auto;
	text-align: center;
	display: inline-block;
	image-rendering: auto;
}

.logo-cf-header-container div
{
	position: relative;
	top: -35px;
	display: inline-block;
	text-align: left;
	height: 135px;
	line-height: 135px;
}

.logo-cf-header-container div p
{
	font-size: 42px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-left: 15px;
	margin-bottom: 0px;
	line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.logo-cf-header-container div p span
{
	font-size: 48px;
	font-weight: 400;
}

.logo-cf-header-container-small
{
	width: 100%;
	height: 75px;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	display: none;
}

.logo-cf-header-container-small img
{
	height: 100%;
	margin-left: auto;
	text-align: center;
	display: inline-block;
}

.logo-cf-header-container-small div
{
	display: inline-block;
	text-align: left;
	height: 45px;
	line-height: 45px;
}

.logo-cf-header-container-small div p
{
	font-size: 22px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-left: 5px;
	margin-bottom: 0px;
	line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

.logo-cf-header-container-small div p span
{
	font-size: 28px;
	font-weight: 400;
}

.header-account-box-container
{
	padding-left: 0;
	padding-right: 0;
}

.header-account-box
{
	width: 100%;
	height: auto;
	margin: 0;
	padding-bottom: 15px;
	background-color: whitesmoke;
	border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-webkit-border-radius: 0px 0px 3px 3px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.34);
}

.header-account-box > span:nth-child(2)
{
	line-height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #202020;
}

.header-account-box > .btn-group
{
	width: auto;
	margin-right: 15px;
	margin-left: 15px;
}

.header-account-box > .btn-group > a
{
	text-shadow: 0px 0px 0px rgba(150, 150, 150, 0);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.header-account-box > .btn-group > a:first-child
{
	background-color: lightgreen;
} 

/* Footer Template */
#footerAll
{
	width:100%;
	position: relative;
	bottom:0;
	height: 200px;
	background:#202020;
	clear:both;
	overflow-x: hidden;

	-webkit-box-shadow: 0px -5px 13px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px -5px 13px 1px rgba(0,0,0,0.6);
	box-shadow: 0px -5px 13px 1px rgba(0,0,0,0.6);
}

.footer-par
{
	margin-top: 30px;
}

.logo-univ-footer
{
	height: 100%;
}

.logo-hmd-footer
{
	height: 90%;
	position: relative;
	left: 50px;
	top: 10px;
}

.footer-par > h3
{
	font-size: 26px;
	font-weight: bold;
}

.footer-contact-container
{
	padding-right: 50px;
	font-size: 12px;
}

.footer-contact-container span
{
	line-height: 25px;
}

.footer-contact-container > div > div
{
	min-width: 20px;
	display: inline-block;
	font-weight: bold;
}

.footer-quote-container 
{
	text-align: center;
	padding-top: 40px;
}

.footer-quote-container p
{
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	color: dimgrey;
}

/* About Us */

#aboutUs
{
	background:#EDEDED;
	min-height:55%;
	padding-top:2em;
}

.paragraph
{
	color:#000;
}

.paragraph h1
{
	margin-bottom:1em;
}

table
{
	color:#000;
}

/* Home */
#home
{
	background:#EDEDED;
	min-height:55%;
	padding-top:2em;
	color:#000;
}

#homePage h1
{
	font-size:45px;
}

#slider
{
	margin-top:0;
	background:#000;
}

/* Lomba */
#lomba
{
	background:#EDEDED;
	min-height:55%;
	padding-top:2em;
	color:#000;
}

/* About Us */

.paragraph p
{
	font-size: 20px;
	font-weight:100;
}
/* Acara */

.content-title-container
{
	margin-bottom: 60px;
}

.content-title-container h1
{
	margin-left: 15px;
	font-weight: 700;
}

.content-description-container
{
	margin-bottom: 40px;
}

.content-description-container p
{
	font-size: 16px;
	line-height: 1.75;
}

.content-description-container div
{
	font-size: 18px;
}

.content-description-container img
{
	float: left;
	width: 300px;
}

.content-description-container h3
{
	clear: left;
}

.content-contact-container
{
	margin-bottom: 40px;
}

.content-info-container
{
	margin-bottom: 50px;
}

.content-left-label
{
	display: inline-block;
	width: 100px;
}

.content-left-value
{
	display: inline-block;
	width: auto;
}

.content-subdirectory-container
{
	margin-bottom: 30px;
	padding: 20px;
	background-color: floralwhite;
	-webkit-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.34);
	box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.34);
}

.content-subdirectory-container:hover
{
	background-color: #ffffe6;
}

.content-subdirectory-container .content-title-container
{
	margin-bottom: 0;
	color: black;
}

.hexagon {
  position: relative;
  width: 75px; 
  height: 43.30px;
  background-color: #444444;
  color: #FFFFFF;
  margin: 21.65px 0;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  border-left: solid 2px #333333;
  border-right: solid 2px #333333;
  text-align: center;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 53.03px;
  height: 53.03px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 8.9835px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.hexagon:before {
  top: -26.5165px;
  border-top: solid 2.8284px #333333;
  border-right: solid 2.8284px #333333;
}

.hexagon:after {
  bottom: -26.5165px;
  border-bottom: solid 2.8284px #333333;
  border-left: solid 2.8284px #333333;
}

.hexagon span {
  display: block;
  position: absolute;
  top:1.1547005383792514px;
  left: 0;
  width:71px;
  height:40.9919px;
  z-index: 2;
  line-height: 0.75;
  background: inherit;
}

.hexagon p
{
	font-size: 28px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.alert-btn
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.alert span
{
	font-size: 16px;
}

/* Account Registration Form */
.registration-account-container
{
	width: 100%;
	height: 260px;
	background-color:rgba(0, 0, 0, 0.5);
	font-family: 'Montserrat', sans-serif;
	padding-top: 35px;
}

.registration-account-header
{
	text-align: center;
}

.registration-account-header h2
{
	font-size: 42px;
	font-weight: bold;
	margin-bottom: 35px;
	color: yellowgreen;
}

.registration-account-logo
{
	height: 60px;
	width: 290px;
	display: inline-block;
}

.registration-account-logo img
{
	float: left;
	height: 100%;
	margin-right: 10px;
}

.registration-account-logo p
{
	font-size: 25px;
	font-weight: bold;
	line-height: 1;
	text-align: left;
	vertical-align: middle;
	margin-top: 5px;
}

.registration-account-header span
{
	font-size: 28px;
	font-weight: 400;
}

.registration-account-form
{
    background-color:rgba(255, 255, 255, 1);
	padding: 50px 50px 50px 50px;
    font: 13px Arial, Helvetica, sans-serif;
	box-shadow: 0 1px 6px rgba(0,0,0,0.2), 0 1px 4px rgba(0,0,0,0.4);
	width: 40%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	top: -150px;
	color: #505050;
}

.form-label
{
	display: block;
    margin: 0;
	font-size: 16px;
	color: #202020;
}

.form-error
{
	display: block;
	font-size: 12px;
	color: darkred;
}

.form-input-generic
{
	display: block;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
	margin-top: 10px;
}

.form-input-generic[type=text], .form-input-generic[type=password]
{
	color: #005000;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.form-input-generic::-webkit-input-placeholder {
    color: grey;
}
.form-input-generic:-moz-placeholder {
    color: grey;
}
.form-input-generic::-moz-placeholder {
    color: grey;
}
.form-input-generic:-ms-input-placeholder {
    color: grey;
}

.form-input-generic:focus
{
	border: 1px solid #0C0;
}

.form-submit
{
     border: none;
     padding: 8px 15px 8px 15px;
     background: #FF8500;
     color: #fff;
     box-shadow: 1px 1px 4px #DADADA;
     -moz-box-shadow: 1px 1px 4px #DADADA;
     -webkit-box-shadow: 1px 1px 4px #DADADA;
     border-radius: 3px;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
}

.form-submit:hover
{
	background: #EA7B00;
    color: #fff;
}

.registration-account-form p
{
	margin: 0;
	color: darkred;
}

/* Account Login Form */
.login-account-container
{
	background-color:rgba(255, 255, 255, 1);
	padding: 50px 50px 50px 50px;
	margin: 0 auto;
    font: 13px Arial, Helvetica, sans-serif;
	box-shadow: 0 1px 6px rgba(0,0,0,0.2), 0 1px 4px rgba(0,0,0,0.4);
	width: 60%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #505050;
	height: 425px;
	margin-bottom: 50px;
}

.login-form p
{
	margin: 0;
	color: darkred;
}

/* Success Page */
.success-container
{
	width: 80%;
	text-align: center;
}

.success-title
{
	margin: 10px auto;
	font-size: 42px;
	color: darkgreen;
}

.success-message
{
	text-align: center;
	font-size: 18px;
	margin: 30px auto;
	width: 80%;
}

.success-button
{
	padding: 10px;
	background-color: limegreen;
	color: white;
	border-radius: 2px;
}

/* Error Page */
.error-container
{
	width: 80%;
	text-align: center;
}

.error-title
{
	margin: 10px auto;
	font-size: 42px;
	color: darkred;
}

.error-message
{
	text-align: center;
	font-size: 18px;
	margin: 30px auto;
	width: 80%;
}

.error-button
{
	padding: 10px;
	background-color: limegreen;
	color: white;
	border-radius: 2px;
}

/* Dashboard user */
.dashboard-nav-container
{
	min-width: 250px;
}

.dashboard-nav-container a
{
	text-align: left;
}

.dashboard-nav-container .btn
{
	width: 100%;
}

.dashboard-nav-container .btn-group-vertical
{
	width: 100%;
}

.dashboard-nav-container > .panel > .panel-body
{
	padding : 0;
}

.dashboard-nav-container > .panel > .panel-body > .panel
{
	margin-bottom: 0;
}